

**/*.jpg
**/*.idea
/pic/
/Live2d-model-master/
/src/
mmd/
wuming/

/アンノウンブライド（Unknow Brige）/
/イモコネー届けたい恋心/
/三色绘恋S/
/凍京Nerco/
/原神/
/宝石研物语/
/崩坏学园2/
/方舟指令/
/有女仆的生活Sメイドさんのいる暮らしS/
/机动战队/
/碧蓝航线 Azue Lane/
/诺亚幻想/
/rename_files_prefix.ps1
/Sacred Sword princesses_previews_20260506214615.zip
/SCAN_FIXER_README.md
/VenusScramble_previews_20260506215231.zip
/wuming_previews_20260506215335.zip
/アンノウンブライド（Unknow Brige）_previews_20260506215820.zip
/イモコネー届けたい恋心_previews_20260506220146.zip
/三色绘恋S_previews_20260506213856.zip
/少女次元_previews_20260506222030.zip
/崩坏学园2_previews_20260506220457.zip
/有女仆的生活Sメイドさんのいる暮らしS_previews_20260506214109.zip
/机动战队_previews_20260506221617.zip
/诺亚幻想_previews_20260506221846.zip
/QUICK_START_JSON_FIXER.md
/live2d_json_fixer.py
/delete_audio_files.ps1
/add_prefix_to_folders.ps1
/check_missing_jpg.ps1
/pack-subdirs.ps1
/a/
